#title{
    background-color: #ff4c68;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;  
    color: whitesmoke;
}

.container-fluid{
    padding: 3% 15%;
}

/* navigation bar */
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar{
    padding-bottom: 4.5rem;
}
.nav-item{
    padding: 0 18px;
    font-size: 1.1rem;
}